.body {

    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    height: 100vh;

}

/* ----- Contendor principal ----- */

.container1 {

    border: 1px solid rgba(0,0,0,.54);
    background: #ffffff8a;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 5%;
    width: 35%;
    height: 80%;
}

.container2 {
    
    border:  1px solid white;
    margin: 10px;
    height: 95%;
    background: #6699ad;

}

.container3 {
    
    background: white;
    margin: 20px;
    height: 92%;
    border-radius: 30px;

}

/* ----- header ----- */

.item1 {

    display: grid;
    grid-template: 1fr / repeat(2, 290px);
    align-items: center;
    overflow: hidden;
}

.description_item1 {
    border-radius: 25px;
    border: 1px rgba(202, 197, 197, 0.54);
    background: rgba(202, 197, 197, 0.54);
    width: 95%;
    margin-left: 20px;

}

.text {

    margin-left: 5px;
    margin-right: 5px;
    padding-left: 10px;

}

.flecha_item1 {
    
    display: inherit;
    border-radius: 25px;
    border: 1px solid rgba(10, 10, 10, 0.54);
    background: white;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
}

/* ----- Main ----- */

.item2 {
    
    padding: 25px;
}


.check {
    display: grid;
    grid-template: 1fr / repeat(2, 50px );
    text-align: center;
    align-items: center;
}

.boton {
    width: 20px;
    height: 20px;
    text-align: initial;
}

.text {

    text-align: initial;
}

.item3 {

    display: inherit;
    text-align: center;

}

.buton_item3 {
    
    border-radius: 25px;
    background:  rgb(5,39,189);
    color: white;
    font-size: 20px;
    height: 60px;
    width: 360px;
    

}