body {
  margin: 0;
  padding: 0;
  max-width: 450px;
  max-height: 500px;
}

.container{  
  width: 450px;
  height: 500px;
  background-color: #E6E8F1;  
  display: grid;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 5% 90% 5%;
}

.card{
  width: auto;
  height: auto;
  background-color:white;
  border-radius: 40px;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 10% 60% 5% 17% 8%;
  grid-template-rows: 10% 20% 45% 15% 10%;   
   
}
.card__search {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2; 
  border-radius: 20px;
  background-color: #F5F6F8;
  border: none;
  font-size: 20px; 
}
.card__button--find{
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;   
  border-radius: 15px;
  background-color: white;  
  color: black;
  font-size: 35px;  
}
.card__location{
  grid-column-start: 2;  
  grid-row-start: 3;  
  margin-top: 20px;
}

label{
  font-size: 30px;  
}

.card__unchecked{
  color:grey;
}
.card__button--ok{
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;  
  border-radius: 30px;
  background-color: #2155FF;  
  border: none;
  color: white;
  font-size: 20px;  
}

input{
  padding-left: 20px ;
}